<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.system.dao.UserMapper">
  <resultMap id="BaseResultMap" type="cc.mrbird.system.domain.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="USER_ID" jdbcType="DECIMAL" property="userId" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="DEPT_ID" jdbcType="DECIMAL" property="deptId" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="STATUS" jdbcType="CHAR" property="status" />
    <result column="CRATE_TIME" jdbcType="TIMESTAMP" property="crateTime" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="LAST_LOGIN_TIME" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="SSEX" jdbcType="CHAR" property="ssex" />
    <result column="THEME" jdbcType="VARCHAR" property="theme" />
    <result column="AVATAR" jdbcType="VARCHAR" property="avatar" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description"/>

	  <result column="smsnum" jdbcType="DECIMAL" property="smsnum"/>
	  <result column="roleName" jdbcType="VARCHAR" property="roleName"/>


	  <result column="is_vip" property="isVip" jdbcType="VARCHAR" />
	  <result column=" profession" property="profession" jdbcType="VARCHAR" />
	  <result column="school" property="school" jdbcType="VARCHAR" />
	  <result column="registed_address" property="registedAddress" jdbcType="VARCHAR" />
	  <result column="extend1" property="extend1" jdbcType="VARCHAR" />
	  <result column="extend2" property="extend2" jdbcType="VARCHAR" />
	  <result column="extend3" property="extend3" jdbcType="VARCHAR" />



	 <association property="companys" javaType="cc.mrbird.system.domain.XgCompany">
		 <id column="cid" property="id"></id>
         <result column="cImg" property="cImg"></result>
		 <result column="cAddress" property="cAddress"></result>
		 <result column="cName " property="cName"></result>
		 <result column="cMode" property="cMode"></result>
		 <result column="cCreateDate " property="createDate"></result>
	 </association>

  </resultMap>
  
  <select id="findUserWithDept" resultMap="BaseResultMap" parameterType="user">
  		select u.user_id userId,u.username,u.email,u.mobile,u.status,u.crate_time crateTime,u.smsnum,
  		u.ssex,
  		 u.is_vip,
  		 u.profession,
  		 u.school,
  		 u.registed_address,
  		 xc.id as cid,
  		 xc.c_name as cName,
  		 xc.c_img as cImg,
  		 xc.c_address as cAddress,
  		 xc.c_mode as cMode,
  		 xc.create_date as cCreateDate
  		 from t_user u
  		left join  xg_company xc on xc.id=u.company_id
  		where 1=1
  		<if test="username != null and username != ''">
        	AND u.username = #{username}
	    </if>

  		<if test="ssex != null and ssex != ''">
	        AND u.ssex = #{ssex}
	    </if>
	    <if test="status != null and status != ''">
	        AND u.status = #{status}
	    </if>
  		order by u.user_id
  </select>



	<select id="findMyWithDept" resultType="user" parameterType="user">
		select u.user_id userId,u.username,u.email,u.mobile,u.status,u.crate_time crateTime,u.smsnum,
		u.ssex,d.dept_name deptName from t_user u
		left join t_dept d on(u.dept_id = d.dept_id)
		where 1=1
		<if test="userId != null and userId != ''">
			AND u.user_id = #{userId}
		</if>

	</select>


    
  <select id="findUserWithRole" resultType="userWithRole">
		select u.user_id userId,u.username,u.dept_id deptId,u.email,u.mobile,u.smsnum,
		u.status,u.ssex,ur.role_id roleId from t_user u
		left join t_user_role ur on (u.user_id = ur.user_id)
		where u.user_id = #{userId}
  </select>
  
  <select id="findUserProfile" resultType="user" parameterType="user">
	SELECT
		U .USERNAME,
		U .USER_ID userId,
		D .DEPT_NAME deptName,
		U .mobile,
		U .email,
		U .avatar,
		U .description,
		U .ssex,
		U .dept_id deptId,
		U.smsnum,
		group_concat(r.role_name) AS roleName
	FROM
		t_user U
	LEFT JOIN t_dept D ON U .DEPT_ID = D .DEPT_ID
	LEFT JOIN T_USER_ROLE ur ON U .user_id = ur.user_id
	LEFT JOIN t_role r ON r.role_id = ur.role_id
	WHERE
		U .USER_ID = #{userId}
	GROUP BY
		U .username,
		D .dept_name,
		U .mobile,
		U .email,
		U .avatar,
		U .description,
		U .ssex,
		U .USER_ID,
		U .dept_id,
		U.smsnum
  </select>
  
</mapper>