<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cc.mrbird.web.dao.XgNeedMapper" >
  <resultMap id="BaseResultMap" type="cc.mrbird.web.domain.XgNeed" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="budget" property="budget" jdbcType="VARCHAR" />
    <result column="is_home" property="isHome" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="pay_type" property="payType" jdbcType="VARCHAR" />
    <result column="first_pay_time" property="firstPayTime" jdbcType="TIMESTAMP" />
    <result column="second_pay_time" property="secondPayTime" jdbcType="TIMESTAMP" />
    <result column="thirdly_pay_time" property="thirdlyPayTime" jdbcType="TIMESTAMP" />
    <result column="fourthly_pay_time" property="fourthlyPayTime" jdbcType="TIMESTAMP" />
    <result column="fifth_pay_time" property="fifthPayTime" jdbcType="TIMESTAMP" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="checked_by" property="checkedBy" jdbcType="VARCHAR" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="extend3" property="extend3" jdbcType="VARCHAR" />
    <result column="need_info" property="needInfo" jdbcType="VARCHAR" />
    <result column="need_check_status" property="needCheckStatus" jdbcType="VARCHAR" />
    <result column="need_mode" property="needMode" jdbcType="VARCHAR" />
    <result column=" discount" property="discount" jdbcType="VARCHAR" />
    <result column="hosting_state" property="hostingState" jdbcType="VARCHAR" />
    <result column="need_user_type" property="needUserType" jdbcType="VARCHAR" />
    <result column="need_pay_address" property="needPayAddress" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="need_days" property="needDays" jdbcType="INTEGER" />
    <result column="need_imgs" property="needImgs" jdbcType="VARCHAR" />
    <result column="checked_date" property="checkedDate" jdbcType="TIMESTAMP" />
    <result column="username" property="username" jdbcType="VARCHAR"></result>
    <result column="signName" property="signName" jdbcType="VARCHAR"></result>
    <result column="needType" property="needType" jdbcType="VARCHAR"></result>
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, type, budget, is_home, start_time, end_time, pay_type, first_pay_time, 
    second_pay_time, thirdly_pay_time, fourthly_pay_time, fifth_pay_time, user_id, checked_by, 
    update_by, extend3, need_info, need_check_status, nedd_mode, " discount", hosting_state, 
    need_user_type, need_pay_address, create_date, update_date, need_days, need_imgs,checked_date
  </sql>



  <update id="updateNeedById" parameterType="cc.mrbird.web.domain.XgNeed" >
    update xg_need
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="budget != null" >
        budget = #{budget,jdbcType=VARCHAR},
      </if>
      <if test="isHome != null" >
        is_home = #{isHome,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payType != null" >
        pay_type = #{payType,jdbcType=VARCHAR},
      </if>
      <if test="firstPayTime != null" >
        first_pay_time = #{firstPayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="secondPayTime != null" >
        second_pay_time = #{secondPayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="thirdlyPayTime != null" >
        thirdly_pay_time = #{thirdlyPayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fourthlyPayTime != null" >
        fourthly_pay_time = #{fourthlyPayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fifthPayTime != null" >
        fifth_pay_time = #{fifthPayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="checkedBy != null" >
        checked_by = #{checkedBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="extend3 != null" >
        extend3 = #{extend3,jdbcType=VARCHAR},
      </if>
      <if test="needInfo != null" >
        need_info = #{needInfo,jdbcType=VARCHAR},
      </if>
      <if test="needCheckStatus != null" >
        need_check_status = #{needCheckStatus,jdbcType=VARCHAR},
      </if>
      <if test="needMode != null" >
        need_mode = #{needMode,jdbcType=VARCHAR},
      </if>
      <if test="discount != null" >
        " discount" = #{discount,jdbcType=VARCHAR},
      </if>
      <if test="hostingState != null" >
        hosting_state = #{hostingState,jdbcType=VARCHAR},
      </if>
      <if test="needUserType != null" >
        need_user_type = #{needUserType,jdbcType=VARCHAR},
      </if>
      <if test="needPayAddress != null" >
        need_pay_address = #{needPayAddress,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="needDays != null" >
        need_days = #{needDays,jdbcType=INTEGER},
      </if>
      <if test="needImgs != null" >
        need_imgs = #{needImgs,jdbcType=VARCHAR},
      </if>
      <if test="checkedDate != null" >
        checked_date = #{checkedDate,jdbcType=TIMESTAMP},
      </if>


    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>


  <select id="getNeedList" resultMap="BaseResultMap">

  SELECT
    tu.USERNAME as username,
    tu.EMAIL as signName,
    xt.p_type as needType,
    xn.*
  FROM xg_need xn LEFT JOIN t_user tu on tu.USER_ID =xn.user_id
  left  join  xg_production_type xt on xt.id =xn.type
    <where>
      <if test="username != null and username != '' ">
        tu.USERNAME like '%${username}%'
      </if>

      <if test="startTime != null and startTime != '' and endTime !=null and endTime != '' ">
        and xn.create_date  &gt;= #{startTime} and  xn.create_date &lt;= #{endTime}
      </if>
      <if test="type != null and type != '' ">
        and  xn.type = #{type}
      </if>

    </where>

  </select>

<select id="getDashBoardUpNeedByItems" resultMap="BaseResultMap">

  select  * from xg_need
  <where>

    <if test="startTime != null and startTime != '' and endTime !=null and endTime != '' ">
      and create_date  &gt;= #{startTime} and  create_date &lt;= #{endTime}
    </if>

  </where>


</select>

</mapper>