<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cc.mrbird.web.dao.XgOrderMasterVersionMapper" >
  <resultMap id="BaseResultMap" type="cc.mrbird.web.domain.XgOrderMasterVersion" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="order_num" property="orderNum" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="user_img" property="userImg" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="pay_status" property="payStatus" jdbcType="VARCHAR" />
    <result column="user_address" property="userAddress" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="mony" property="mony" jdbcType="DECIMAL" />
    <result column="extend1" property="extend1" jdbcType="VARCHAR" />
    <result column="extend2" property="extend2" jdbcType="VARCHAR" />
    <result column="extend3" property="extend3" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, order_num, create_date, user_name, user_id, status, user_img, telephone, pay_status, 
    user_address, update_date, mony, extend1, extend2, extend3
  </sql>


  <insert id="addOrderMasterVersion" parameterType="cc.mrbird.web.domain.XgOrderMasterVersion" >
    insert into xg_order_master_version
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderNum != null" >
        order_num,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="userImg != null" >
        user_img,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="payStatus != null" >
        pay_status,
      </if>
      <if test="userAddress != null" >
        user_address,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="mony != null" >
        mony,
      </if>
      <if test="extend1 != null" >
        extend1,
      </if>
      <if test="extend2 != null" >
        extend2,
      </if>
      <if test="extend3 != null" >
        extend3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderNum != null" >
        #{orderNum,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="userImg != null" >
        #{userImg,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="payStatus != null" >
        #{payStatus,jdbcType=VARCHAR},
      </if>
      <if test="userAddress != null" >
        #{userAddress,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="mony != null" >
        #{mony,jdbcType=DECIMAL},
      </if>
      <if test="extend1 != null" >
        #{extend1,jdbcType=VARCHAR},
      </if>
      <if test="extend2 != null" >
        #{extend2,jdbcType=VARCHAR},
      </if>
      <if test="extend3 != null" >
        #{extend3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>


  <select id="getOrderListByItems" resultMap="BaseResultMap">

    SELECT ORDER_NUM,CREATE_DATE,STATUS FROM xg_order_master_version
   <where>
     <if test="status != null and status != '' ">
         status = #{status}
     </if>
     <if test="startTime != null and startTime != '' and endTime !=null and endTime != '' ">
       and create_date  &gt;= #{startTime} and  create_date &lt;= #{endTime}
     </if>

     <if test="orderNum != null and orderNum != '' ">
      and  order_num = #{orderNum}
     </if>
   </where>
    ORDER BY CREATE_DATE DESC

  </select>




</mapper>