<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cc.mrbird.web.dao.XgProductionMapper" >
  <resultMap id="BaseResultMap" type="cc.mrbird.web.domain.XgProduction" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="notes" property="notes" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="first_img" property="firstImg" jdbcType="VARCHAR" />
    <result column="imgs" property="imgs" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="checked_by" property="checkedBy" jdbcType="VARCHAR" />
    <result column="extend2" property="extend2" jdbcType="VARCHAR" />
    <result column="extend3" property="extend3" jdbcType="VARCHAR" />
    <result column="label" property="label" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="checked_date" property="checkedDate" jdbcType="TIMESTAMP"></result>
   <result column="attributes" property="attributes" jdbcType="VARCHAR"/>
    <result column="isVip" property="isVip" jdbcType="VARCHAR"/>
    <result column="companyId" property="companyId" jdbcType="VARCHAR"/>
    <result column="username" property="username" jdbcType="VARCHAR"/>
    <result column="productionType" property="productionType" jdbcType="VARCHAR"></result>

    <collection property="xgProductionCollections" ofType="cc.mrbird.web.domain.XgProductionCollection">
      <id property="id" column="cId"></id>
      <result property="username" column="cusername"></result>
      <result property="createDate" column="ccreateDate"></result>
      <result property="userImg" column="cuserImg"></result>

    </collection>
    <collection property="xgProductionDianzans" ofType="cc.mrbird.web.domain.XgProductionDianzan">
      <id property="id" column="dId"></id>
      <result property="username" column="dusername"></result>
      <result property="createDate" column="dcreateDate"></result>
      <result property="userImg" column="duserImg"></result>

    </collection>


    <collection property="xgProductionShares" ofType="cc.mrbird.web.domain.XgProductionShare">
      <id property="id" column="sId"></id>
      <result property="username" column="susername"></result>
      <result property="createDate" column="screateDate"></result>
      <result property="userImg" column="suserImg"></result>
      <result property="type" column="stype"></result>
    </collection>

  </resultMap>
  <sql id="Base_Column_List" >
    id, name, notes, type, first_img, imgs, create_date, create_by, update_date, update_by, 
    checked_by, extend2, extend3, label, status, user_id,checked_date,attributes
  </sql>

  <update id="updateProductionById" parameterType="cc.mrbird.web.domain.XgProduction" >
    update xg_production
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="notes != null" >
        notes = #{notes,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="firstImg != null" >
        first_img = #{firstImg,jdbcType=VARCHAR},
      </if>
      <if test="imgs != null" >
        imgs = #{imgs,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="checkedBy != null" >
        checked_by = #{checkedBy,jdbcType=VARCHAR},
      </if>
      <if test="extend2 != null" >
        extend2 = #{extend2,jdbcType=VARCHAR},
      </if>
      <if test="extend3 != null" >
        extend3 = #{extend3,jdbcType=VARCHAR},
      </if>
      <if test="label != null" >
        label = #{label,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="checkedDate != null" >
        checked_date = #{checkedDate,jdbcType=TIMESTAMP},
      </if>

      <if test="attributes != null" >
        attributes = #{attributes,jdbcType=VARCHAR},
      </if>

    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>



  <insert id="addProduction" parameterType="cc.mrbird.web.domain.XgProduction" >
    insert into xg_production
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="notes != null" >
        notes,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="firstImg != null" >
        first_img,
      </if>
      <if test="imgs != null" >
        imgs,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="checkedBy != null" >
        checked_by,
      </if>
      <if test="extend2 != null" >
        extend2,
      </if>
      <if test="extend3 != null" >
        extend3,
      </if>
      <if test="label != null" >
        label,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="checkedDate != null" >
        checked_date,
      </if>
      <if test="attributes != null" >
        attributes,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="notes != null" >
        #{notes,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="firstImg != null" >
        #{firstImg,jdbcType=VARCHAR},
      </if>
      <if test="imgs != null" >
        #{imgs,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="checkedBy != null" >
        #{checkedBy,jdbcType=VARCHAR},
      </if>
      <if test="extend2 != null" >
        #{extend2,jdbcType=VARCHAR},
      </if>
      <if test="extend3 != null" >
        #{extend3,jdbcType=VARCHAR},
      </if>
      <if test="label != null" >
        #{label,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="checkedDate != null" >
        #{checkedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="attributes != null" >
        #{attributes,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>


  <select id="getProductionListByItems" resultMap="BaseResultMap">


    select
    CASE  WHEN tu.is_vip= 'Y' THEN '是'  ELSE '否' END as isVip,
    tu.USERNAME as username,
    xt.p_type as productionType,
    CASE  WHEN tu.company_id= '0' THEN '个人'  ELSE '企业' END as companyId,
    xp.*

    from xg_production xp LEFT JOIN t_user tu on xp.user_id =tu.USER_ID
        left  join  xg_production_type xt on xt.id =xp.type
    <where>
      <if test="username != null and username != '' ">
        tu.USERNAME like  '%${username}%'
      </if>

      <if test="startTime != null and startTime != '' and endTime !=null and endTime != '' ">
        and xp.create_date  &gt;= #{startTime} and  xp.create_date &lt;= #{endTime}
      </if>
      <if test="type != null and type != '' ">
        and xp.type =#{type}
      </if>

      <if test="status != null and status != '' ">
        and xp.status =#{status}
      </if>

    </where>


  </select>


  <select id="getProductionListByItemsWithAll" resultMap="BaseResultMap">



  SELECT

tu.USERNAME as username,
tu.AVATAR as img,
ps.id as sId,
ps.username as susername,
ps.type as stype,
ps.user_img as suserImg,
ps.create_date as screateDate,

pd.id as dId,
pd.username as dusername,
pd.create_date as dcreateDate,
pd.user_img  as duserImg,

pc.username as cusername,
pc.id as cId,
pc.create_date as ccreateDate,
pc.user_img as cuserImg,
pt.p_type as productionType,
xp.*

from
t_user tu

INNER JOIN xg_production xp on xp.user_id =tu.USER_ID
LEFT JOIN xg_production_share ps on ps.p_id =xp.id
LEFT join xg_production_dz pd on pd.p_id =xp.id
LEFT JOIN xg_production_collection pc on pc.p_id =xp.id
LEFT join  xg_production_type pt on pt.id =xp.type
where tu.user_id =#{userId}

  </select>



  <select id="getDashBoardUpProByItems" resultMap="BaseResultMap">
    select  * from xg_production
    <where>

      <if test="startTime != null and startTime != '' and endTime !=null and endTime != '' ">
        and create_date  &gt;= #{startTime} and  create_date &lt;= #{endTime}
      </if>

    </where>

  </select>


  <select id="getPcWebPdList" resultMap="BaseResultMap">

          select
      xpt.p_type as productionType,
      tu.USERNAME as username,
      xp.*
      from
      xg_production xp
      LEFT join xg_production_type xpt on xp.type =xpt.id
      INNER JOIN t_user tu on  tu.USER_ID =xp.user_id
      <where>
        <if test="type != null and type != '' ">
          xp.type= #{type}
        </if>
        <if test="status != null and status != '' ">
         and xp.status= #{status}  and xp.status != 'I' AND xp.status != 'C' AND xp.status != 'D'
        </if>
        <if test="id != null and id != '' ">
          and xp.id= #{id}
        </if>
        <if test="userId != null and userId != '' ">
          and xp.user_id= #{userId}
        </if>
      </where>
      ORDER BY xp.create_date desc
  </select>


  <select id="getDesignUserProductionList" resultMap="BaseResultMap">

    select

 	COUNT(DISTINCT pd.id) AS productionDianzanCount,
      xp.*
     from xg_production xp
     LEFT JOIN xg_production_dianzan pd on xp.id =pd.p_id
     where xp.user_id =#{userId}
     GROUP BY xp.id
     ORDER BY productionDianzanCount desc
     LIMIT 3

  </select>


  <!--查询自己收藏的作品-->
  <select id="myCollectionProductions" resultMap="BaseResultMap">

 select
      xpt.p_type as productionType,
      tu.USERNAME as username,
      xp.*
      from
  (SELECT xpp.*  FROM xg_production_collection xpc LEFT JOIN xg_production xpp on xpc.p_id = xpp.id where xpc.user_id =#{userId})

		xp
      LEFT join xg_production_type xpt on xp.type =xpt.id
      INNER JOIN t_user tu on  tu.USER_ID =xp.user_id
    <where>
      <if test="type != null and type != '' ">
        xp.type= #{type}
      </if>
      <if test="status != null and status != '' ">
        and xp.status= #{status}  and xp.status != 'I' AND xp.status != 'C' AND xp.status != 'D'
      </if>
      <if test="id != null and id != '' ">
        and xp.id= #{id}
      </if>
      <if test="userId != null and userId != '' ">
        and xp.user_id= #{userId}
      </if>
    </where>
    ORDER BY xp.create_date desc


  </select>



  <select id="getMyStarProductionList" resultMap="BaseResultMap">

    select
    xpt.p_type as productionType,
    tu.USERNAME as username,
    xp.*
    from
    (
    SELECT xpp.*  from xg_user_fensi uf INNER JOIN xg_production xpp  on uf.to_user_id =xpp.user_id
    where uf.from_user_id =#{userId})
    xp
    LEFT join xg_production_type xpt on xp.type =xpt.id
    INNER JOIN t_user tu on  tu.USER_ID =xp.user_id
    <where>
      <if test="type != null and type != '' ">
        xp.type= #{type}
      </if>
      <if test="status != null and status != '' ">
        and xp.status= #{status}  and xp.status != 'I' AND xp.status != 'C' AND xp.status != 'D'
      </if>
      <if test="id != null and id != '' ">
        and xp.id= #{id}
      </if>
    </where>
    ORDER BY xp.create_date desc

  </select>



</mapper>