<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cc.mrbird.web.dao.XgUserFensiMapper" >
  <resultMap id="BaseResultMap" type="cc.mrbird.web.domain.XgUserFensi" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="to_user_id" property="toUserId" jdbcType="BIGINT" />
    <result column="to_user_name" property="toUserName" jdbcType="VARCHAR" />
    <result column="to_user_img" property="toUserImg" jdbcType="VARCHAR" />
    <result column="from_user_name" property="fromUserName" jdbcType="VARCHAR" />
    <result column="from_user_id" property="fromUserId" jdbcType="BIGINT" />
    <result column="from_user_img" property="fromUserImg" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="extend1" property="extend1" jdbcType="VARCHAR" />
    <result column="extend2" property="extend2" jdbcType="VARCHAR" />
    <result column="extend3" property="extend3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, to_user_id, to_user_name, to_user_img, from_user_name, from_user_id, from_user_img, 
    create_date, extend1, extend2, extend3
  </sql>


<select id="getUserFensiByItems" resultMap="BaseResultMap">

  select  * from xg_user_fensi
  <where>

    <if test="startTime != null and startTime != '' and endTime !=null and endTime != '' ">
      and create_date  &gt;= #{startTime} and  create_date &lt;= #{endTime}
    </if>

  </where>
</select>

  <insert id="addUserFensi" parameterType="cc.mrbird.web.domain.XgUserFensi" >
    insert into xg_user_fensi
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="toUserId != null" >
        to_user_id,
      </if>
      <if test="toUserName != null" >
        to_user_name,
      </if>
      <if test="toUserImg != null" >
        to_user_img,
      </if>
      <if test="fromUserName != null" >
        from_user_name,
      </if>
      <if test="fromUserId != null" >
        from_user_id,
      </if>
      <if test="fromUserImg != null" >
        from_user_img,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="extend1 != null" >
        extend1,
      </if>
      <if test="extend2 != null" >
        extend2,
      </if>
      <if test="extend3 != null" >
        extend3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="toUserId != null" >
        #{toUserId,jdbcType=BIGINT},
      </if>
      <if test="toUserName != null" >
        #{toUserName,jdbcType=VARCHAR},
      </if>
      <if test="toUserImg != null" >
        #{toUserImg,jdbcType=VARCHAR},
      </if>
      <if test="fromUserName != null" >
        #{fromUserName,jdbcType=VARCHAR},
      </if>
      <if test="fromUserId != null" >
        #{fromUserId,jdbcType=BIGINT},
      </if>
      <if test="fromUserImg != null" >
        #{fromUserImg,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="extend1 != null" >
        #{extend1,jdbcType=VARCHAR},
      </if>
      <if test="extend2 != null" >
        #{extend2,jdbcType=VARCHAR},
      </if>
      <if test="extend3 != null" >
        #{extend3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateUserFensi" parameterType="cc.mrbird.web.domain.XgUserFensi" >
    update xg_user_fensi
    <set >
      <if test="toUserId != null" >
        to_user_id = #{toUserId,jdbcType=BIGINT},
      </if>
      <if test="toUserName != null" >
        to_user_name = #{toUserName,jdbcType=VARCHAR},
      </if>
      <if test="toUserImg != null" >
        to_user_img = #{toUserImg,jdbcType=VARCHAR},
      </if>
      <if test="fromUserName != null" >
        from_user_name = #{fromUserName,jdbcType=VARCHAR},
      </if>
      <if test="fromUserId != null" >
        from_user_id = #{fromUserId,jdbcType=BIGINT},
      </if>
      <if test="fromUserImg != null" >
        from_user_img = #{fromUserImg,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="extend1 != null" >
        extend1 = #{extend1,jdbcType=VARCHAR},
      </if>
      <if test="extend2 != null" >
        extend2 = #{extend2,jdbcType=VARCHAR},
      </if>
      <if test="extend3 != null" >
        extend3 = #{extend3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>


  <select id="getUserFensiByUserId" resultMap="BaseResultMap">
    select  * from xg_user_fensi where to_user_id =#{userId}

  </select>


</mapper>